#simglass-fuel-provider {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
}

.fuel-status {
    font-size: 10px;
    color: #00ff00;
}
